
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Air Quality Index</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="container">
    <h1>Air Quality Index</h1>
    <div>
      <input
        type="text"
        [(ngModel)]="city"
        placeholder="Enter city name"
        required
      />
      <button (click)="search()">Search</button>
    </div>
  
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
    <div *ngIf="airQualityData" class="grid-container">
      <div class="box">
        <h3>Ozone Levels (O3)</h3>
        <table>
          <thead>
            <tr>
              <th>Day</th>
              <th>Avg</th>
              <th>Max</th>
              <th>Min</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of airQualityData?.o3">
              <td>{{ o.day }}</td>
              <td>{{ o.avg }}</td>
              <td>{{ o.max }}</td>
              <td>{{ o.min }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="box">
        <h3>PM2.5 Levels</h3>
        <table>
          <thead>
            <tr>
              <th>Day</th>
              <th>Avg</th>
              <th>Max</th>
              <th>Min</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pm of airQualityData?.pm25">
              <td>{{ pm.day }}</td>
              <td>{{ pm.avg }}</td>
              <td>{{ pm.max }}</td>
              <td>{{ pm.min }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="box">
        <h3>PM10 Levels</h3>
        <table>
          <thead>
            <tr>
              <th>Day</th>
              <th>Avg</th>
              <th>Max</th>
              <th>Min</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pm of airQualityData?.pm10">
              <td>{{ pm.day }}</td>
              <td>{{ pm.avg }}</td>
              <td>{{ pm.max }}</td>
              <td>{{ pm.min }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="box">
        <h3>UV Index (UVI)</h3>
        <table>
          <thead>
            <tr>
              <th>Day</th>
              <th>Avg</th>
              <th>Max</th>
              <th>Min</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of airQualityData?.uvi">
              <td>{{ u.day }}</td>
              <td>{{ u.avg }}</td>
              <td>{{ u.max }}</td>
              <td>{{ u.min }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
</body>
</html>
